/* Estilos simples */
body {
    font-family: Arial, sans-serif;
    margin: 3px;
    padding: 3px;
    box-sizing: border-box; /* Garante que padding e bordas não aumentem o tamanho dos elementos */
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

h1 {
    margin: 0;
}

button {
    padding: 8px 16px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

#activities-container, #user-activities-container {
    margin: 20px 5%; /* Margem superior de 20px e margens laterais de 5% */
}

.activity {
    background-color: #f4f4f4;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

.activity h3 {
    margin-top: 0;
}

.error-message {
    color: red;
    margin-top: 10px;
}

.success-message {
    color: green;
    margin-top: 10px;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    header {
        padding: 15px; /* Aumenta o padding no header para dispositivos móveis */
    }

    h1 {
        font-size: 24px; /* Reduz o tamanho da fonte do título em telas menores */
    }

    button {
        width: 100%; /* Faz o botão ocupar toda a largura em dispositivos móveis */
        margin-top: 10px; /* Adiciona um espaço acima do botão */
    }

    #activities-container, #user-activities-container {
        margin: 20px 3%; /* Reduz a margem lateral para 3% em telas menores */
    }

    .activity {
        padding: 15px; /* Aumenta o padding das atividades para melhorar a legibilidade */
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 20px; /* Reduz ainda mais o tamanho da fonte do título em telas muito pequenas */
    }

    #activities-container, #user-activities-container {
        margin: 20px 2%; /* Reduz a margem lateral para 2% em telas muito pequenas */
    }

    .activity {
        padding: 10px; /* Ajusta o padding para telas muito pequenas */
    }
}